set timeout=10
set default=0

menuentry "Install Lamp OS" {
    linux /live/vmlinuz install
    initrd /live/initrd.img
}

menuentry "Lamp OS Desktop" {
    linux /live/vmlinuz quiet splash live
    initrd /live/initrd.img
}

menuentry "Lamp OS (Text Mode)" {
    linux /live/vmlinuz 3 live
    initrd /live/initrd.img
}
