set timeout=10
set default=0

menuentry "Lamp OS Desktop" {
    linux /live/vmlinuz quiet splash
    initrd /live/initrd.img
}

menuentry "Lamp OS (Text Mode)" {
    linux /live/vmlinuz 3
    initrd /live/initrd.img
}
